@use "variables/colors" as c;
@use "variables/variables" as v;
@use "functions" as f;

@mixin max-width($breakpoint) {
  @media screen and (max-width: calc(#{$breakpoint} - 1px)) {
    @content;
  }
}
@mixin min-width($breakpoint) {
  @media screen and (min-width: #{$breakpoint}) {
    @content
  }
}

@mixin margin($t: false, $r: false, $b: false, $l: false, $a: false, $x: false, $y: false, $important: false) {
  $i: f.imp($important);
  @if($a) {margin: $a $i;}
  @if($x) {margin-left: $x $i; margin-right: $x $i;}
  @if($y) {margin-top: $y $i; margin-bottom: $y $i;}
  @if($l) {margin-left: $l $i;} @if($r) {margin-right: $r $i;}
  @if($t) {margin-top: $t $i;} @if($b) {margin-bottom: $b $i;}
}
@mixin padding($a: false, $x: false, $y: false, $l: false, $r: false, $t: false, $b: false, $important: false) {
  $i: f.imp($important);
  @if($a) {padding: $a $i;}
  @if($x) {padding-left: $x $i; padding-right: $x $i;}
  @if($y) {padding-top: $y $i; padding-bottom: $y $i;}
  @if($l) {padding-left: $l $i;} @if($r) {padding-right: $r $i;}
  @if($t) {padding-top: $t $i;} @if($b) {padding-bottom: $b $i;}
}

@mixin flex($wrap: wrap, $direction: false, $align: false, $justify: false, $gap: false, $important: false) {
  $i: f.imp($important);
  display: flex $i;
  flex-wrap: #{$wrap} $i;
  @if($direction) {flex-direction: #{$direction} $i;}
  @if($align) {align-items: #{$align} $i;}
  @if($justify) {justify-content: #{$justify} $i;}
  @if($gap) {gap: #{$gap} $i;}
}

@mixin z-index($layer) {
  z-index: #{index(v.$z-index-list, $layer) + 100};
}

@mixin border($color: c.$border-gray, $size: v.$border-width, $style: v.$border-style, $important: false) {
  $i: f.imp($important);
  border: #{$size} #{$style} $color $i;
}

@mixin box-shadow($x: v.$box-shadow-x, $y: v.$bow-shadow-y, $blur: v.$box-shadow-blur, $spread: v.$box-shadow-spread, $important: false) {
  $i: f.imp($important);
  box-shadow: #{$x $y $blur $spread} $i;
}

@mixin size($w: false, $h: false, $min-w: false, $min-h: false, $max-w: false, $max-h: false, $important: false) {
  $i: f.imp($important);
  @if($w) {width: #{$w} $i;}
  @if($h) {height: #{$h} $i;}
  @if($min-w) {min-width: #{$min-w} $i;}
  @if($min-h) {min-height: #{$min-h} $i;}
  @if($max-w) {max-width: #{$max-w} $i;}
  @if($max-h) {max-height: #{$max-h} $i;}
}
