// Warning: Think responsibly about background-foreground contrast
$primary: #1A090D;
$secondary: #4A314D;

$neutral-primary: #A8BA9A;
$neutral-secondary: #ACE894;

$text-primary: #050505;
$text-secondary: #F1F1F1;

$background-primary: #3077C9;
$background-secondary: #6BBF59;

$border-gray: #727272;
$disabled-gray: #899097;

$black: #000000;
$black-2: #252525;
$white: #FFFFFF;
$white-2: #F4F4F4;
$gray: #808080FF;
$gray-2: #AEAEAE;

$error-red: #E61616;
$success-green: #08A045;
$warning-yellow: #ECC30B;

$gold: #FFD700FF;
$anchor: #4169E1FF;
